In [7]:
# 1. Find the datatype of these two declaration: x=5 y="John"

x = 5
y = "John"

print("datatype of x = 5 is ",type(x))
print("datatype of y = John is",type(y))

datatype of x = 5 is  <class 'int'>
datatype of y = John is <class 'str'>

In [3]:
# 2. Check whether the following syntax is valid or invalid for naming a variable:
# Example: abc=100 #valid syntax

# i. 3a=10
# ii. @abc=10
# iii. a100=100
# iv. _a984_=100
# v. a9967$=100
# vi. xyz-2=100

3a=10
print(3a)
# invalid syntax

@abc=10
print (@abc)
# invalid syntax

a100=100
print(a100)
# valid syntax

_a984_=100
print(_a984_)
# valid syntax

a9967$=100
print(a9967$)
# invalid syntax

xyz-2=100
print (xyz-2)
# invalid syntax

SyntaxError: invalid syntax (<ipython-input-3-a71d7e9d7f20>, line 11)

In [14]:
# 3. Check if element exists in list in Python:

# list = test_list = [1, 6, 3, 5, 3, 4]
# 1. Check if 3 exist or not.
# 2. Check if 9 exists or not.
# 3. Take the user input to print the current date.

list = test_list=[1,6,3,5,3,4]
print(list)

print("Check if 3 exist or not:", 3 in list)

print("Check if 9 exists or not:",9 in list )

from datetime import date
today = date.today()
print("Todays date is: ", today)

[1, 6, 3, 5, 3, 4]
Check if 3 exist or not: True
Check if 9 exists or not: False
Todays date is:  2023-06-23

In [15]:
# 4. what is the output of the following code:
# a. print 9//2
# b. print 9%2

print(9//2)
print(9%2)

4
1

In [18]:
# Print First 10 natural numbers using a while loop.

i=1
while i<11:
    print(i, end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [46]:
# 6. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.
# For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)


a = int(input("Enter a number: "))
s = 0
for i in range(a + 1):
   s += i
print("The sum of all natural numbers from 1 to the given number is:",s)

Enter a number: 10
The sum of all natural numbers from 1 to the given number is: 55

In [49]:
# 7.Write a Python program which iterates the integers from 1 to 50.
# For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz".
# For numbers which are multiples of both three and five print "FizzBuzz".



for f in range(1,51):
    print ("the iterate value of ",f,"is",end="  ")
    if f%3 == 0 and i%5 ==0:
        print("fizzbuzz")
    elif f%3 == 0:
        print("fizz")
    elif f%5 == 0:
        print("buzz")
    else:
        print(f)

the iterate value of  1 is  1
the iterate value of  2 is  2
the iterate value of  3 is  fizzbuzz
the iterate value of  4 is  4
the iterate value of  5 is  buzz
the iterate value of  6 is  fizzbuzz
the iterate value of  7 is  7
the iterate value of  8 is  8
the iterate value of  9 is  fizzbuzz
the iterate value of  10 is  buzz
the iterate value of  11 is  11
the iterate value of  12 is  fizzbuzz
the iterate value of  13 is  13
the iterate value of  14 is  14
the iterate value of  15 is  fizzbuzz
the iterate value of  16 is  16
the iterate value of  17 is  17
the iterate value of  18 is  fizzbuzz
the iterate value of  19 is  19
the iterate value of  20 is  buzz
the iterate value of  21 is  fizzbuzz
the iterate value of  22 is  22
the iterate value of  23 is  23
the iterate value of  24 is  fizzbuzz
the iterate value of  25 is  buzz
the iterate value of  26 is  26
the iterate value of  27 is  fizzbuzz
the iterate value of  28 is  28
the iterate value of  29 is  29
the iterate value of  30 is  fizzbuzz
the iterate value of  31 is  31
the iterate value of  32 is  32
the iterate value of  33 is  fizzbuzz
the iterate value of  34 is  34
the iterate value of  35 is  buzz
the iterate value of  36 is  fizzbuzz
the iterate value of  37 is  37
the iterate value of  38 is  38
the iterate value of  39 is  fizzbuzz
the iterate value of  40 is  buzz
the iterate value of  41 is  41
the iterate value of  42 is  fizzbuzz
the iterate value of  43 is  43
the iterate value of  44 is  44
the iterate value of  45 is  fizzbuzz
the iterate value of  46 is  46
the iterate value of  47 is  47
the iterate value of  48 is  fizzbuzz
the iterate value of  49 is  49
the iterate value of  50 is  buzz

the iterate value of  1 is  1
the iterate value of  2 is  2
the iterate value of  3 is  fizzbuzz
the iterate value of  4 is  4
the iterate value of  5 is  buzz
the iterate value of  6 is  fizzbuzz
the iterate value of  7 is  7
the iterate value of  8 is  8
the iterate value of  9 is  fizzbuzz
the iterate value of  10 is  buzz
the iterate value of  11 is  11
the iterate value of  12 is  fizzbuzz
the iterate value of  13 is  13
the iterate value of  14 is  14
the iterate value of  15 is  fizzbuzz
the iterate value of  16 is  16
the iterate value of  17 is  17
the iterate value of  18 is  fizzbuzz
the iterate value of  19 is  19
the iterate value of  20 is  buzz
the iterate value of  21 is  fizzbuzz
the iterate value of  22 is  22
the iterate value of  23 is  23
the iterate value of  24 is  fizzbuzz
the iterate value of  25 is  buzz
the iterate value of  26 is  26
the iterate value of  27 is  fizzbuzz
the iterate value of  28 is  28
the iterate value of  29 is  29
the iterate value of  30 is  fizzbuzz
the iterate value of  31 is  31
the iterate value of  32 is  32
the iterate value of  33 is  fizzbuzz
the iterate value of  34 is  34
the iterate value of  35 is  buzz
the iterate value of  36 is  fizzbuzz
the iterate value of  37 is  37
the iterate value of  38 is  38
the iterate value of  39 is  fizzbuzz
the iterate value of  40 is  buzz
the iterate value of  41 is  41
the iterate value of  42 is  fizzbuzz
the iterate value of  43 is  43
the iterate value of  44 is  44
the iterate value of  45 is  fizzbuzz
the iterate value of  46 is  46
the iterate value of  47 is  47
the iterate value of  48 is  fizzbuzz
the iterate value of  49 is  49
the iterate value of  50 is  buzz